---
import PageLayout from "@layouts/PageLayout.astro";
import FilterBar from "@components/FilterBar.svelte";

export interface Props {
    title: string;
    description: string;
    filter: { name: string; count?: number }[];
    displayStyle: { name: string; icon: string }[];
    sortBy: string[];
    mainpage_container?: boolean;
    viewTransitions?: boolean;
}

const {
    title,
    description,
    filter = [],
    displayStyle,
    sortBy,
    mainpage_container = false,
    viewTransitions = false,
} = Astro.props;
---

<PageLayout
    title={title}
    subtitle={description}
    mainpage_container={mainpage_container}
    viewTransitions={viewTransitions}
>
    <div class="container-fluid main-content pt-md-2 p-1">
        <slot />
        <FilterBar displayStyle={displayStyle} filter={filter} sortBy={sortBy} client:load />
        <slot name="listing-components" />
    </div>
</PageLayout>

<style lang="scss"></style>
