---
import PageLayout from '@layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import { marked } from 'marked';
import ToC from '@components/ToC.svelte';
import Markdown from '@components/Markdown.svelte';

export async function getStaticPaths() {
    const docs = await getCollection('docs');
    return docs.map((doc) => ({
        params: {
            doc: doc.slug,
        },
        props: {
            doc: doc,
        },
    }));
}
marked.setOptions({
    baseUrl: Astro.params.slug, // add the slug to the base url of relative links
});
const title = Astro.props.doc.data.title;
const subtitle = Astro.props.doc.data.subtitle;
let frontmatter = Astro.props.doc.data;
let body = Astro.props.doc.body;
Astro.props.doc.body = Astro.props.doc.body.replace('```nextflow', '```groovy');

const { headings, Content, remarkPluginFrontmatter } = await Astro.props.doc.render();

// Content = Content.replace('```nextflow', '```groovy');
// TODO: update github url
const md_github_url = 'https://github.com/nf-core/nf-co.re/blob/master/markdown/docs/' + Astro.props.doc.id;
---

<PageLayout title={title} subtitle={subtitle} subfooter={true} md_github_url={md_github_url} mainpage_container={true}>
    <!-- <ToC {headings} /> -->
    <div class="container-fluid row">
        <div class="col-12 col-md-10">
            <div class="markdown-content">
                <Markdown headings={headings}>
                    <Content/>
                </Markdown>
            </div>
        </div>
        <div class="col-12 col-md-2 toc">
            <ToC
                headings={headings}
                />
        </div>
    </div>
</PageLayout>
