---
import PageLayout from '@layouts/PageLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';
import { createLinkOrGroup } from '@utils/functions';
import type { SidebarEntry } from '@utils/types';

export async function getStaticPaths() {
    return ['tutorials', 'usage', 'checklists', 'guidelines'].map((subsection) => ({
        params: {
            subsection: subsection,
        },
    }));
}

const { subsection } = Astro.params;

let docs = await getCollection('docs');
import SidebarNav from '@components/sidebar/SidebarNav.astro';
let sections: SidebarEntry[] = [
    {
        type: 'group',
        label: 'Tutorials',
        href: '/docs/tutorials',
        entries: [],
        isCurrent: Astro.url.pathname.replace('.html', '') === '/docs/tutorials',
        collapsed: Astro.url.pathname === '/docs/tutorials',
    },
    {
        type: 'group',
        label: 'Usage',
        href: '/docs/usage',
        entries: [],
        isCurrent: Astro.url.pathname.replace('.html', '') === '/docs/usage',
        collapsed: Astro.url.pathname === '/docs/usage',
    },
    {
        type: 'group',
        label: 'Checklists',
        href: '/docs/checklists',
        entries: [],
        isCurrent: Astro.url.pathname.replace('.html', '') === '/docs/checklists',
        collapsed: Astro.url.pathname === '/docs/checklists',
    },
    {
        type: 'group',
        label: 'Guidelines',
        href: '/docs/guidelines',
        entries: [],
        isCurrent: Astro.url.pathname.replace('.html', '') === '/docs/guidelines',
        collapsed: Astro.url.pathname === '/docs/guidelines',
    },
];
// sort docs first depth, then by weight, then by title
const sortDocs = (a: CollectionEntry<'docs'>, b: CollectionEntry<'docs'>) => {
    if (a.slug.split('/').length < b.slug.split('/').length) {
        return 1;
    } else if (a.slug.split('/').length > b.slug.split('/').length) {
        return -1;
    } else {
        a.data.weight = a.data.weight || 100;
        b.data.weight = b.data.weight || 100;
        if (a.data.weight < b.data.weight) {
            return -1;
        } else if (a.data.weight > b.data.weight) {
            return 1;
        } else {
            if (a.data.title < b.data.title) {
                return -1;
            } else if (a.data.title > b.data.title) {
                return 1;
            } else {
                return 0;
            }
        }
    }
};

let subsectionDocs: CollectionEntry<'docs'>[] = docs.filter((doc) => doc.slug.startsWith(subsection + '/'));
const subsections = sections.find((section) => section.href?.startsWith('/docs/' + subsection));

subsectionDocs.sort(sortDocs);
const addEntriesToSection = (sections, docs: CollectionEntry<'docs'>[]) => {
    const docSlugs = docs.map((doc) => doc.slug);
    docSlugs.forEach((slug) => {
        const parts = slug.split('/');
        let currentLevel = sections;

        parts.forEach((part, i) => {
            part = part.replaceAll('_', ' ').replace(/(^)\S/g, (match) => match.toUpperCase());
            const existingEntry = currentLevel.find((entry) => entry.label === part);

            if (existingEntry && existingEntry.type === 'group') {
                currentLevel = existingEntry.entries;
            } else {
                const newEntry = createLinkOrGroup(
                    part,
                    '/docs/' + slug,
                    i === parts.length - 1,
                    Astro.url.pathname,
                    docs.find((doc) => doc.slug === slug)?.data.weight,
                );
                currentLevel.push(newEntry);

                if (newEntry.type === 'group' && newEntry.entries) {
                    currentLevel = newEntry.entries;
                }
            }
        });
    });
};

addEntriesToSection(sections, subsectionDocs);
// sort all entries by weight if available recursively
const sortEntries = (entries: SidebarEntry[]) => {
    entries.sort((a, b) => {
        if (a.weight && !b.weight) {
            return -1;
        } else if (!a.weight && b.weight) {
            return 1;
        } else if (a.weight && b.weight) {
            if (a.weight < b.weight) {
                return -1;
            } else if (a.weight > b.weight) {
                return 1;
            }
        } else {
            if (a.label < b.label) {
                return -1;
            } else if (a.label > b.label) {
                return 1;
            } else {
                return 0;
            }
        }
    });
    entries.forEach((entry) => {
        if (entry.type === 'group' && entry.entries) {
            sortEntries(entry.entries);
        }
    });
};

sections.forEach((section) => {
    if (section.type === 'group') {
        sortEntries(section.entries);
    }
});
const title = subsection.replace(/(^|\s)\S/g, (match) => match.toUpperCase());
const splitUrl = `${Astro.url.pathname}/`.replace(/^\/|\/$/g, '').split('/');
---

<PageLayout title={title} subtitle={'Overview of sections about ' + title} mainpage_container={false}>
    <div slot="header-top" class="d-none d-md-block">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {
                    splitUrl.slice(0, -1).map((slug, i) => (
                        <>
                            <li class="breadcrumb-item">
                                <a class="text-white" href={'/' + splitUrl.slice(0, i + 1).join('/')}>
                                    {slug.replaceAll('_', ' ').replace(/(^|\s)\S/g, (match) => match.toUpperCase())}
                                </a>
                            </li>
                            <Icon name="octicon:chevron-right-16" class={'mt-1'} />
                        </>
                    ))
                }
            </ol>
        </nav>
    </div>
    <div class="container-fluid main-content">
        <div class="row">
            <div class="col-12 col-md-2 sticky-top-under d-none d-md-inline sidebar-left">
                <SidebarNav items={sections} />
            </div>

            <div class="col-12 col-md-10">
                <p>
                    This is the overview of the {subsection} section.
                </p>
                <div class="">
                    <h2>{subsection.slice(0, 1).toUpperCase() + subsection.slice(1)}</h2>
                    <div class="grid">
                        {
                            subsections &&
                                subsections.entries.map((section) => (
                                    <div class="g-col-12 g-col-md-6 g-col-lg-4 g-col-xxl-3 card">
                                        <span class="card-header">
                                            <a href={'/docs/' + section.href + '/'} class="text-decoration-none">
                                                {section.label}
                                            </a>
                                            <button class="btn p-0">
                                                <i class="fa-solid fa-chevron-down" />
                                            </button>
                                        </span>
                                        <ul class="card-body mx-3 mb-0" id={section.label?.replace('/', '-')}>
                                            {section.entries?.map((entry) => {
                                                return (
                                                    <li>
                                                        <a href={'/docs/' + entry.href + '/'}>{entry.label}</a>
                                                    </li>
                                                );
                                            })}
                                        </ul>
                                    </div>
                                ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</PageLayout>
<style></style>
