---
import { YouTube } from '@astro-community/astro-embed-youtube';
import FuzzySearch from '@components/FuzzySearch.svelte';
import { getCollection } from 'astro:content';
import EventCard from '@components/event/EventCard.svelte';

const events = await getCollection('events');
const bytesizes = events.filter((event) => event.data.title.toLowerCase().match('bytesize'));
let lastYoutubeUrls = bytesizes
    .slice()
    .reverse()
    .find((Bytesize) => {
        let urls = Bytesize.data.locationURL;
        if (urls === undefined) {
            return false;
        }
        if (typeof urls === 'string') {
            urls = [urls];
        }

        return urls.find((url) => url.startsWith('https://www.youtube.com') || url.startsWith('https://youtu.be'));
    });

lastYoutubeUrls = ([] as string[])
    .concat(lastYoutubeUrls?.data.locationURL ?? [])
    .find((url) => url.startsWith('https://www.youtube.com') || url.startsWith('https://youtu.be'));

const latestBytesize = lastYoutubeUrls
    ?.replace('https://www.youtube.com/watch?v=', '')
    .replace('https://youtu.be/', '');
const bytesizeSearch = bytesizes.map((bs) => {
    return { href: '/events/' + bs.slug + '/', name: bs.data.title };
});
const eventPreview = events
    .filter((event) => event.slug.split('/').length < 3)
    .sort((a, b) => {
        return new Date(b.data.start) - new Date(a.data.start);
    });

let { eventPreviewCurrent, eventPreviewFuture, eventPreviewPast } = [];
eventPreviewCurrent = eventPreview
    .filter((event) => {
        const today = new Date();
        return event.data.start < today && event.data.end > today;
    })
    .slice(0, 3);

eventPreviewFuture = eventPreview
    .reverse()
    .filter((event) => {
        const today = new Date();
        return event.data.start > today;
    })
    .slice(0, 3);

eventPreviewPast = eventPreview
    .filter((event) => {
        const today = new Date();
        return event.data.end < today;
    })
    .reverse()
    .slice(0, 3);
---

<div class="container">
    <div class="row videos-row">
        <div class="col-lg-4" id="nf-core-video">
            <h2>Introduction to nf-core</h2>
            <YouTube id="gUM9acK25tQ" poster={`https://img.youtube.com/vi/gUM9acK25tQ/maxresdefault.jpg`} />
            <a href="https://www.youtube.com/@nf-core" class="my-3 btn btn-lg btn-danger bg-youtube">
                <i class="fab fa-youtube me-3"></i> nf-core YouTube channel
            </a>
        </div>

        <div class="col-lg-4">
            {eventPreviewCurrent.length > 0 && <h2>Current Events</h2>}
            {
                eventPreviewCurrent.map((event) => (
                    <EventCard
                        frontmatter={event.data}
                        slug={event.slug}
                        type={event.data.type}
                        time_category="current"
                        showDescription={false}
                        narrow={true}
                        client:idle
                    />
                ))
            }
            {eventPreviewFuture.length > 0 && <h2>Upcoming Events</h2>}
            {
                eventPreviewFuture
                    .slice(0, Math.max(0, 3 - eventPreviewCurrent.length))
                    .map((event) => (
                        <EventCard
                            frontmatter={event.data}
                            slug={event.slug}
                            type={event.data.type}
                            time_category="future"
                            showDescription={false}
                            narrow={true}
                            client:idle
                        />
                    ))
            }
            {
                eventPreviewPast.length > 0 && eventPreviewCurrent.length + eventPreviewFuture.length < 3 && (
                    <h2>Past Events</h2>
                )
            }
            {
                eventPreviewPast
                    .slice(0, Math.max(0, 3 - (eventPreviewCurrent.length + eventPreviewFuture.length)))
                    .map((event) => (
                        <EventCard
                            frontmatter={event.data}
                            slug={event.slug}
                            type={event.data.type}
                            time_category="past"
                            showDescription={false}
                            narrow={true}
                            client:idle
                        />
                    ))
            }
        </div>
        <div class="col-lg-4">
            <h2>Latest bytesize</h2>

            <p>Our weekly series of short talks about using and developing nf-core pipelines.</p>

            <YouTube id={latestBytesize} poster={`https://img.youtube.com/vi/${latestBytesize}/hqdefault.jpg`} />
            <h4 class="mt-3">Find more bytesize talks: <FuzzySearch possibleResults={bytesizeSearch} client:load /></h4>
        </div>
    </div>

    <style lang="scss"></style>
</div>
