---
import { YouTube } from '@astro-community/astro-embed-youtube';
import FuzzySearch from '@components/FuzzySearch.svelte';
import { getCollection } from 'astro:content';
import EventCard from '@components/event/EventCard.svelte';

const events = await getCollection('events');
const bytesizes = events.filter((event) => event.data.title.toLowerCase().match('bytesize'));
let lastYoutubeUrls = bytesizes
    .slice()
    .reverse()
    .find((Bytesize) => {
        let urls = Bytesize.data.location_url;
        if (typeof urls === 'string') {
            urls = [urls];
        }

        return urls.find((url) => url.startsWith('https://www.youtube.com') || url.startsWith('https://youtu.be'));
    });

lastYoutubeUrls = lastYoutubeUrls?.data.location_url.find(
    (url) => url.startsWith('https://www.youtube.com') || url.startsWith('https://youtu.be')
);

const latestBytesize = lastYoutubeUrls
    ?.replace('https://www.youtube.com/watch?v=', '')
    .replace('https://youtu.be/', '');
const bytesizeSearch = bytesizes.map((bs) => {
    return { href: '/events/' + bs.slug + '/', name: bs.data.title };
});
const eventPreview = events
    .filter((event) => event.slug.split('/').length < 3)
    .sort((a, b) => {
        return new Date(b.data.start) - new Date(a.data.start);
    })
    .slice(0, 3);

let { eventPreviewCurrent, eventPreviewFuture, eventPreviewPast } = [];
eventPreviewCurrent = eventPreview.filter((event) => {
    const today = new Date();
    return event.data.start < today && event.data.end > today;
});

eventPreviewFuture = eventPreview.filter((event) => {
    const today = new Date();
    return event.data.start > today;
});

eventPreviewPast = eventPreview
    .filter((event) => {
        const today = new Date();
        return event.data.end < today;
    })
    .reverse();
---

<div class="container">
    <div class="row videos-row">
        <div class="col-lg-4" id="nf-core-video">
            <h2>Introduction to nf-core</h2>
            <YouTube id="gUM9acK25tQ" poster={`https://img.youtube.com/vi/gUM9acK25tQ/maxresdefault.jpg`} />
            <a href="https://www.youtube.com/@nf-core" class="my-3 btn btn-lg btn-danger bg-youtube">
                <i class="fab fa-youtube me-3"></i> nf-core YouTube channel
            </a>
        </div>

        <div class="col-lg-4">
            {eventPreviewCurrent.length > 0 && <h4>Current Events</h4>}
            {
                eventPreviewCurrent.map((event) => (
                    <EventCard
                        frontmatter={event.data}
                        slug={event.slug}
                        type={event.data.type}
                        time_category="current"
                        showDescription={false}
                    />
                ))
            }
            {eventPreviewFuture.length > 0 && <h4>Upcoming Events</h4>}
            {
                eventPreviewFuture.map((event) => (
                    <>
                        <EventCard
                            frontmatter={event.data}
                            slug={event.slug}
                            type={event.data.type}
                            time_category="future"
                            showDescription={false}
                        />
                    </>
                ))
            }
            {eventPreviewPast.length > 0 && <h4>Past Events</h4>}
            {
                eventPreviewPast.map((event) => (
                    <EventCard
                        frontmatter={event.data}
                        slug={event.slug}
                        type={event.data.type}
                        time_category="past"
                        showDescription={false}
                    />
                ))
            }
        </div>
        <div class="col-lg-4">
            <h2>Latest bytesize video</h2>

            <p class="lead">
                Our weekly series of short talks. Around 15 minutes + questions, focussing on topics about using and
                developing nf-core pipelines.
            </p>

            <YouTube id={latestBytesize} poster={`https://img.youtube.com/vi/${latestBytesize}/hqdefault.jpg`} />
            <h4 class="mt-3">More bytesize videos: <FuzzySearch possibleResults={bytesizeSearch} client:load /></h4>
        </div>
    </div>

    <style lang="scss"></style>
</div>
