---
import MarkdownTocLayout from '@layouts/MarkdownTocLayout.astro';
import { getCollection } from 'astro:content';
import SidebarStatsRow from '@components/sidebar/SidebarStatsRow.astro';
import GitHubProfilePictureExtended from '@components/GitHubProfilePictureExtended.svelte';
import { Image } from 'astro:assets';
const images = import.meta.glob('../../assets/**');
export async function getStaticPaths() {
    const blogPosts = await getCollection('blog');
    return blogPosts.map((post) => ({
        params: { blogpost: post.slug },
        props: { post, blogPosts },
    }));
}

let { post, blogPosts } = Astro.props;
// filter out posts that have a pubDate later than today
blogPosts = blogPosts
    .filter((post) => {
        const pubDate = new Date(post.data.pubDate);
        return pubDate < new Date();
    })
    .filter((post) => {
        if (process.env.production) {
            return post.data.draft !== true;
        } else {
            return true;
        }
    })
    .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());

// get years of all posts
const years = [...new Set(blogPosts.map((post) => new Date(post.data.pubDate).getFullYear()))].sort((a, b) => b - a);

const sections = years.map((year) => {
    return {
        section_name: year,
        section_slug: '/blog/#year-' + year,
        children: blogPosts
            .filter((post) => new Date(post.data.pubDate).getFullYear() === year)
            .map((post) => {
                return {
                    title: post.data.title,
                    slug: '/blog/' + post.slug,
                };
            }),
    };
});
const { headings, Content } = await post.render();
const title = post.data.title;
const subtitle = post.data.subtitle;
const md_github_url = 'https://github.com/nf-core/website/blob/main/src/content/blog/' + post.id;
---

<MarkdownTocLayout
    title={title}
    subtitle={subtitle}
    md_github_url={md_github_url}
    headings={headings}
    image={`/og.png?title=${encodeURIComponent(title)}&subtitle=${encodeURIComponent(
        subtitle,
    )}&category=blog&authors=${encodeURIComponent(post.data.authors.join(','))}`}
    viewTransitions={true}
    leftSidebar={true}
    rightSidebar={true}
    sections={sections}
    viewTransitions={true}
    doubleNavbar={true}
    sidebarTitle="Blog posts"
>
    {
        post.data.headerImage && post.data.embedHeaderImage !== undefined && post.data.embedHeaderImage !== false && (
            <div class="image-container d-flex align-items-center">
                <Image
                    src={
                        post.data.headerImage.startsWith('/assets/')
                            ? images['../..' + post.data.headerImage]()
                            : post.data.headerImage
                    }
                    alt={post.data.headerImageAlt || ''}
                    class="object-fit-cover mb-3 d-flex m-auto w-100 h-100 py-2"
                    width={728}
                    height={360}
                    transition:name="cover-image"
                />
            </div>
        )
    }
    <Content />
    <div class="author-list d-md-none d-flex flex-wrap justify-content-between">
        <SidebarStatsRow lastChild={true} content={[{ title: 'Published on' }]}>
            {
                post.data.pubDate.toLocaleDateString('en-GB', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                })
            }
        </SidebarStatsRow>
        <SidebarStatsRow lastChild={true} content={[{ title: 'Written by' }]}>
            {
                post.data.authors.map((author) => {
                    return <GitHubProfilePictureExtended username={author} size={40} imgClasses="mb-0" />;
                })
            }
        </SidebarStatsRow>
    </div>
    <div slot="right-sidebar-bottom" class="d-flex flex-column align-items-start">
        <SidebarStatsRow lastChild={true} content={[{ title: 'Written by' }]}>
            {
                post.data.authors.map((author) => {
                    return <GitHubProfilePictureExtended username={author} size={40} wrapperClasses="flex-grow-1" />;
                })
            }
        </SidebarStatsRow>
        <SidebarStatsRow lastChild={true} content={[{ title: 'Published on' }]}>
            {
                post.data.pubDate.toLocaleDateString('en-GB', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                })
            }
        </SidebarStatsRow>
    </div>
</MarkdownTocLayout>
<style lang="scss">
    @import '@styles/_variables.scss';
    .image-container {
        height: 512px;
    }
    @include media-breakpoint-down(xl) {
        .image-container {
            height: 260px;
        }
    }
    :global(.markdown-content img) {
        margin-bottom: 1rem;
    }
</style>
