---
import PageLayout from '@layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import SidebarNav from '@components/sidebar/SidebarNav.astro';
import GitHubProfilePictureExtended from '@components/GitHubProfilePictureExtended.svelte';
import { Image } from 'astro:assets';

const images = import.meta.glob('../../assets/**/*.{png,jpg,jpeg,gif,svg}');

let blogPosts = await getCollection('blog');

// filter out posts that have a pubDate later than today
blogPosts = blogPosts
    .filter((post) => {
        const pubDate = new Date(post.data.pubDate);
        return pubDate < new Date();
    })
    .filter((post) => {
        if (process.env.production) {
            return post.data.draft !== true;
        } else {
            return true;
        }
    })
    .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());

// get years of all posts
const years = [...new Set(blogPosts.map((post) => new Date(post.data.pubDate).getFullYear()))].sort((a, b) => b - a);

const sections = years.map((year) => {
    return {
        section_name: year,
        section_slug: '#year-' + year,
        children: blogPosts
            .filter((post) => new Date(post.data.pubDate).getFullYear() === year)
            .map((post) => {
                return {
                    title: post.data.title,
                    slug: '/blog/' + post.slug,
                    pubDate: post.data.pubDate,
                };
            }),
    };
});
---

<PageLayout
    title="nf-core blog"
    subtitle="News and updates from the nf-core community."
    mainpage_container={true}
    subfooter={false}
    docSearchTags={[{ name: 'page_type', content: 'Blog' }]}
    viewTransitions={true}
>
    <div class="row">
        <div class="col-12 col-md-2 sticky-top-under d-none d-md-inline sidebar-left pt-1">
            <a
                href={sections[0].section_slug?.split('/').slice(0, 2).join('/').split('#')[0]}
                class="sidebar-title text-decoration-none"
            >
                <strong class="h6 p-2 text-body">Blog posts</strong>
            </a>
            <SidebarNav items={sections} />
        </div>

        <div class="col">
            {blogPosts.length === 0 && <div class="">Nothing to see her yet! Come back soon</div>}
            {
                years.map((year) => (
                    <div id={'year-' + year} class="d-flex align-items-start flex-wrap">
                        {blogPosts
                            .filter((post) => new Date(post.data.pubDate).getFullYear() === year)
                            .map((post) => (
                                <div
                                    class:list={[
                                        'card m-xl-3 m-1',
                                        new Date(Date.now()) > new Date(post.data.pubDate) &&
                                        new Date(post.data.pubDate) > new Date(Date.now() - 2 * 24 * 60 * 60 * 1000)
                                            ? 'border-primary'
                                            : '',
                                    ]}
                                >
                                    <a
                                        href={'/blog/' + post.slug}
                                        class:list={[
                                            'new-post-badge text-decoration-none badge text-bg-primary fs-6 mb-0 rounded-top-0 w-25 m-auto position-absolute top-0 start-0 end-0',
                                            new Date(Date.now()) > new Date(post.data.pubDate) &&
                                            new Date(post.data.pubDate) > new Date(Date.now() - 2 * 24 * 60 * 60 * 1000)
                                                ? 'd-block'
                                                : 'd-none',
                                        ]}
                                    >
                                        New post!
                                    </a>
                                    {post.data.headerImage && (
                                        <Image
                                            src={
                                                post.data.headerImage.startsWith('/assets/')
                                                    ? images['../..' + post.data.headerImage]()
                                                    : post.data.headerImage
                                            }
                                            class="card-img-top object-fit-cover"
                                            alt={post.data.headerImageAlt || ''}
                                            height={240}
                                            width={512}
                                            transition:name="cover-image"
                                        />
                                    )}
                                    <div class="card-body">
                                        <h2 transition:name="title">{post.data.title}</h2>
                                        <p class="lead">{post.data.subtitle}</p>
                                        <p class="card-text small">
                                            {async () => {
                                                const { remarkPluginFrontmatter } = await post.render();
                                                return remarkPluginFrontmatter.excerpt;
                                            }}
                                        </p>
                                        <a href={'/blog/' + post.slug} class="stretched-link" />
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <div class="me-auto authors d-flex flex-grow-1 flex-wrap">
                                            {post.data.authors.map((author) => (
                                                <GitHubProfilePictureExtended
                                                    username={author}
                                                    size={40}
                                                    containerQuery={true}
                                                />
                                            ))}
                                        </div>
                                        <span class="text-body-secondary text-small text-end flex-grow-1 text-nowrap">
                                            published at
                                            <br />
                                            {new Date(post.data.pubDate).toLocaleDateString('en-GB', {
                                                day: 'numeric',
                                                month: 'short',
                                                year: 'numeric',
                                            })}
                                        </span>
                                    </div>
                                </div>
                            ))}
                    </div>
                ))
            }
        </div>
    </div>
</PageLayout>

<style lang="scss">
    @import '@styles/_variables.scss';
    .card {
        width: 32rem;
        .card-footer :global(a) {
            margin-bottom: 0 !important;
        }
    }
    @include media-breakpoint-down(md) {
        .card {
            width: 100%;
        }
    }
    .authors {
        width: 100%;
    }
    .new-post-badge {
        z-index: 10;
    }
</style>
