---
import ExportEventButton from '@components/event/ExportEventButton.svelte';
import LocalDateTime from '@components/event/LocalDateTime.svelte';

const { frontmatter } = Astro.props;

if (frontmatter.start === undefined) {
    frontmatter.start = new Date(frontmatter.startDate + 'T' + frontmatter.startTime);
}
if (frontmatter.end === undefined) {
    frontmatter.end = new Date(frontmatter.endDate + 'T' + frontmatter.endTime);
}
const start = frontmatter.start;
const end = frontmatter.end;
---

<div class="">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <dl>
                <dt>Event start:</dt>
                <dd><LocalDateTime date={start} client:visible /></dd>
                <dt>Event end:</dt>
                <dd><LocalDateTime date={end} client:visible /></dd>
            </dl>
        </div>
        <div class="col">
            <dl>
                {
                    frontmatter.locationURL && (
                        <>
                            <dt>{frontmatter.locationURL.length === 1 ? 'Link' : 'Links'}:</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    {frontmatter.locationURL.map((loc) => {
                                        return (
                                            <li class="list-item">
                                                <a class="text-white underline" href={loc}>
                                                    {loc}
                                                </a>
                                            </li>
                                        );
                                    })}
                                </ul>
                            </dd>
                        </>
                    )
                }
                {
                    frontmatter.locationName && (
                        <>
                            <dt>Location:</dt>
                            <dd>{frontmatter.locationName}</dd>
                        </>
                    )
                }
                {
                    frontmatter.address && (
                        <>
                            <dt>Address:</dt>
                            <dd>{frontmatter.address}</dd>
                        </>
                    )
                }
                {
                    frontmatter.locationLatLng && (
                        <>
                            <dd>
                                <a
                                    class="mt-2 btn btn-sm btn-outline-light"
                                    href={`https://www.openstreetmap.org/?mlat=${frontmatter.locationLatLng[0]}&mlon=${frontmatter.locationLatLng[1]}&zoom=16#map=16/${frontmatter.locationLatLng[0]}/${frontmatter.locationLatLng[1]}`}
                                    target="_blank"
                                >
                                    <i class="fa-duotone fa-map-pin me-1" />
                                    See on map
                                </a>
                            </dd>
                        </>
                    )
                }
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-center justify-content-md-start">
        <ExportEventButton frontmatter={frontmatter} add_class="btn-outline-light col" client:idle />
    </div>
</div>
<style lang="scss">
    .dropdown-menu {
        z-index: 100;
    }
</style>
