---
import PageLayout from '@layouts/PageLayout.astro';
import { remote_workflows as pipelines } from '@public/pipelines.json';
---

<PageLayout
    title="Pipeline health"
    subtitle="Check GitHub settings for all nf-core repositories"
    mainpage_container={false}
>
    <div class="container-fluid main-content w-100 mw-100">
        <div class="table-responsive">
            <h2>Pipelines</h2>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="small fw-normal text-nowrap">Pipeline Name</th>
                        <th class="small fw-normal text-nowrap" title="Has at least one release" data-bs-toggle="tooltip" data-bs-placement="top">Released</th>
                        <th class="small fw-normal text-nowrap" title="Last release is after latest tools release (so up to date with template)" data-bs-toggle="tooltip" data-bs-placement="top">Released after tools</th>
                        <th class="small fw-normal text-nowrap" title="Master branch is same commit as the last release" data-bs-toggle="tooltip" data-bs-placement="top">Master = release</th>
                        <th class="small fw-normal text-nowrap" title="Has a nextflow_schema.json file (in last release, dev if no release)" data-bs-toggle="tooltip" data-bs-placement="top">JSON Schema</th>
                        <th class="small fw-normal text-nowrap" title="Has a modules directory, suggesting that it's a DSL2 pipeline (in last release, dev if no release)" data-bs-toggle="tooltip" data-bs-placement="top">DSL2</th>
                        <th class="small fw-normal text-nowrap" title="Uses nf-test" data-bs-toggle="tooltip" data-bs-placement="top">nf-test</th>
                        <th class="small fw-normal text-nowrap" title="Uses nf-test in dev branch" data-bs-toggle="tooltip" data-bs-placement="top">nf-test in dev</th>
                        <th class="small fw-normal text-nowrap" title="Disable wikis" data-bs-toggle="tooltip" data-bs-placement="top">Wikis</th>
                        <th class="small fw-normal text-nowrap" title="Enable issues" data-bs-toggle="tooltip" data-bs-placement="top">Issues</th>
                        <th class="small fw-normal text-nowrap" title="Allow merge commits" data-bs-toggle="tooltip" data-bs-placement="top">Merge commits</th>
                        <th class="small fw-normal text-nowrap" title="Allow rebase merging" data-bs-toggle="tooltip" data-bs-placement="top">Rebase merging</th>
                        <th class="small fw-normal text-nowrap" title="Do not allow squash merges" data-bs-toggle="tooltip" data-bs-placement="top">Squash merges</th>
                        <th class="small fw-normal text-nowrap" title="default branch master (released) or dev (no releases)" data-bs-toggle="tooltip" data-bs-placement="top">Default branch</th>
                        <th class="small fw-normal text-nowrap" title="Minimum keywords set" data-bs-toggle="tooltip" data-bs-placement="top">Keywords</th>
                        <th class="small fw-normal text-nowrap" title="Description must be set" data-bs-toggle="tooltip" data-bs-placement="top">Description</th>
                        <th class="small fw-normal text-nowrap" title="URL should be set to https://nf-co.re/[PIPELINE-NAME]" data-bs-toggle="tooltip" data-bs-placement="top">Repo URL</th>
                        <th colspan="2" class="small fw-normal text-nowrap" title="Team access" data-bs-toggle="tooltip" data-bs-placement="top">Team access</th>
                        <th colspan="3" class="small fw-normal text-nowrap" title="Branches exist" data-bs-toggle="tooltip" data-bs-placement="top">Branches exist</th>
                        <th colspan="6" class="small fw-normal text-nowrap" title="Branch protection: master" data-bs-toggle="tooltip" data-bs-placement="top">Branch protection: master</th>
                        <th colspan="6" class="small fw-normal text-nowrap" title="Branch protection: dev" data-bs-toggle="tooltip" data-bs-placement="top">Branch protection: dev</th>
                        <th colspan="6" class="small fw-normal text-nowrap" title="Restrict push to TEMPLATE to @nf-core-bot" data-bs-toggle="tooltip" data-bs-placement="top">T push</th>                </tr>
                </thead>
                <tbody>
                    {
                        pipelines.map(pipeline =>
                            <tr>
                                <td>{pipeline.name}</td>
                                <!-- Released -->
                                <td class={"text-center " + (pipeline.releases?.length ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        { pipeline.releases?.length ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Released after tools -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO:
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!--Master = release -->
                                <td class={"text-center " + (pipeline.last_release_is_head ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href={pipeline.last_release_vs_default_compare_url} target="_blank">
                                        { pipeline.last_release_is_head ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- JSON Schema -->
                                <td class={"text-center " + (pipeline.releases?.[0].has_schema ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        { pipeline.releases?.[0].has_schema ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- DSL2 -->
                                <td class={"text-center " + (pipeline.is_DSL2 ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href={pipeline.repository_url} target="_blank">
                                        { pipeline.is_DSL2 ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- nf-test -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- nf-test in dev -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- wikis -->
                                <td class={"text-center " + (pipeline.has_wiki ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        { pipeline.has_wiki ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- issues -->
                                <td class={"text-center " + (pipeline.has_issues ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        { pipeline.has_issues ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- merge commits -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Rebase merging -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Squash changes -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Default branch -->
                                <td class={"text-center " + (pipeline.default_branch ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        { pipeline.default_branch ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Keywords -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO:
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Description -->
                                <td class={"text-center " + (pipeline.description ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        { pipeline.description ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Repo URL -->
                                <td class={"text-center " + (pipeline.repository_url ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href={pipeline.repository_url} target="_blank">
                                        { pipeline.repository_url ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Team access -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Branches exist -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        master?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        dev?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        template?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Branch protection: master -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        up to date?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        minimum CI checks?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        non-stale reviews?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        codeowner reviews?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        2 reviews required?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        do not enforce for admins?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- Branch protection: dev -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        up to date?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        minimum CI checks?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        non-stale reviews?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        codeowner reviews?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        2 reviews required?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        do not enforce for admins?
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                                <!-- T push -->
                                <td class={"text-center " + (false ? 'status--healthy' : 'status--unhealthy')}>
                                    <a href="null" target="_blank">
                                        TODO
                                        { false ? <i class="fas fa-check text-success"></i> : <i class="fas fa-times text-danger"></i> }
                                    </a>
                                </td>
                            </tr>
                        )
                    }
                </tbody>
            </table>
        </div>
    </div>
    {
        false && (
        <div class="iframe-container w-100 d-flex align-items-start vh-100">
            <i class="mt-5 m-auto text-success fa-regular fa-spinner-third fa-spin fa-3x"></i>
            <iframe
                class="d-none"
                src="https://oldsite.nf-co.re/pipeline_health"
                onload="this.classList.remove('d-none'); this.previousElementSibling.classList.add('d-none');"
                title="pipeline_heath"
                style="border:none;"
                width="100%"
                height="100%"></iframe>
        </div>
        )
    }
    hello
</PageLayout>
<style>
    .status--healthy {
        background-color: #0f4b2b;
    }
    .status--unhealthy {
        background-color: #74261e;
    }
    th {
        padding: 0.25rem;
    }
    tr {
        border-bottom: 1px solid gray;
    }
</style>
