---
import { Markdown } from '@astropub/md';
import MarkdownWrapper from '@components/markdown/MarkdownWrapper.svelte';
import SidebarToc from '@components/sidebar/SidebarToc.svelte';
import SidebarNav from '@components/sidebar/SidebarNav.astro';
import PipelinePageLayout from '@layouts/PipelinePageLayout.astro';
import pipelines_json from '@public/pipelines.json';
import cache from 'bin/cache.js';
import { getGitHubFile } from '@components/octokit';

import ExpandDetailsButton from '@components/sidebar/ExpandDetailsButton.svelte';

export function getStaticPaths() {
    let paths: {
        params: { pipeline: string; version: string; md_file: string };
        props: { versions: string[]; md_files: string[]; description: string };
    }[] = [];
    pipelines_json.remote_workflows.forEach((pipeline) => {
        pipeline.releases.forEach((release) => {
            const md_files = release.doc_files.map((file) =>
                file.replace('docs/', '').replace('.mdx', '').replace('.md', ''),
            );
            md_files.forEach((md_file) => {
                paths.push({
                    params: {
                        pipeline: pipeline.name,
                        version: release.tag_name,
                        md_file: md_file,
                    },
                    props: {
                        versions: pipeline.releases.map((release) => release.tag_name),
                        md_files: md_files,
                        description: pipeline.description,
                    },
                });
            });
        });
    });
    return paths;
}
const { pipeline, version, md_file } = Astro.params;
const { versions, md_files, description } = Astro.props;
let headings: {
    depth: number;
    text: string;
    slug: string;
}[] = [];

const section = md_file.split('/')[0];
// check if there are multiple files in the section
let left_sidebar = md_files.filter((file) => file.split('/')[0] === section).length > 1;

let sections = {};

// add trailing slash to url if missing
let url = Astro.url.pathname.endsWith('/') ? Astro.url.pathname : Astro.url.pathname + '/';
url = url.replace(/\.html$/, '/');
const baseURL = url.split('/').slice(0, -2).join('/') + '/';

if (left_sidebar) {
    const siblings = md_files
        .filter((file) => file.split('/')[0] === section && section !== file)
        .map((child) => {
            const prefix = md_file !== section ? section + '/' : '';
            const title = child
                .replace(section + '/', '')
                .replace(prefix, '')
                .replace(/-/g, ' ')
                .replace(/\w\S*/g, (w) => w.replace(/^\w/, (c) => c.toUpperCase()));
            const slug = baseURL + child.replace(prefix, '') + '/';
            return { title, slug };
        });

    const sectionName = section.replace(/-/g, ' ').replace(/\w\S*/g, (w) => w.replace(/^\w/, (c) => c.toUpperCase()));

    sections = [
        {
            section_name: sectionName,
            section_slug: `/${pipeline}/${version}/docs/${section}/`,
            children: siblings,
        },
    ];
}

const cache_key = `${pipeline}/${version}/docs/${md_file}.md`;

const md_content = await cache
    .get(cache_key)
    .catch((error) => {
        console.log(error);
        return;
    })
    .then(async (response) => {
        let content = response;
        if (content === undefined) {
            console.log(`Cache miss for ${cache_key}`);
            content = await getGitHubFile(pipeline, `/docs/${md_file}.md`, version);
        }
        // make relative links to other markdown files absolute to current Astro.url.pathname
        content = content.replaceAll(/\[([^\]]+)\]\((?!http)(?!#)(.*?)\)/g, (match, p1, p2) => {
            const link = [...new Set([...url.split('/').filter((i) => i), ...p2.split('/').filter((i) => i)])].join(
                '/',
            );
            return `[${p1}](/${link})`;
        });
        const text_content = content.replace(/```(.*?)```/gs, '');
        // get headings and their depth for table of contents
        headings = text_content.match(/^(#{1,6})\s(.*)$/gm);
        if (headings === null) {
            headings = [];
            return content;
        }
        headings = headings.map((heading) => {
            const depth = heading.match(/^(#{1,6})/)[0].length;
            let text = heading.match(/^(#{1,6})\s(.*)$/)[2];
            // check if exactly two backticks are used to wrap text
            if (text.match(/`(.+?)`/g)) {
                text = text.replace(/`(.+?)`/g, '<code>$1</code>');
                const slug = text
                    .replace(/<code>(.*?)<\/code>/g, '$1')
                    .toLowerCase()
                    .replace(/ /g, '-')
                    .replace(/[^\w-]+/g, '');
                return { depth, text, slug };
            } else {
                const slug = text
                    .toLowerCase()
                    .replace(/ /g, '-')
                    .replace(/[^\w-]+/g, '');
                return { depth, text, slug };
            }
        });
        return content;
    });

const max_heading_depth = 2;

// filter out headings that are higher than max_heading_depth
headings = headings.filter((h) => h.depth <= max_heading_depth);
---

<PipelinePageLayout
    pipeline={pipeline}
    subtitle={description}
    headings={headings}
    version={version}
    versions={versions}
    tabItems={md_files}
    md_github_url={`https://github.com/nf-core/${pipeline}/blob/${version}/docs/${md_file}.md`}
    sections={sections}
>
    <div class="row">
        {
            left_sidebar && (
                <div class="col-12 col-md-2 sticky-top-under d-none d-md-inline sidebar-left pt-3">
                    <SidebarNav items={sections} />
                </div>
            )
        }
        <div class:list={['col-12 pt-3', { 'col-md-9': !left_sidebar, 'col-md-8': left_sidebar }]}>
            <MarkdownWrapper client:load headings={headings}>
                <Markdown of={md_content} />
            </MarkdownWrapper>
        </div>
        <div class:list={['col-12 toc', { 'col-md-3': !left_sidebar, 'col-md-2': left_sidebar }]}>
            <SidebarToc headings={headings} client:idle><ExpandDetailsButton client:idle /></SidebarToc>
        </div>
    </div>
</PipelinePageLayout>
