---
import MarkdownWrapper from '@components/markdown/MarkdownWrapper.svelte';
import SidebarToc from '@components/sidebar/SidebarToc.svelte';
import SidebarNav from '@components/sidebar/SidebarNav.astro';
import PipelinePageLayout from '@layouts/PipelinePageLayout.astro';
import pipelines_json from '@public/pipelines.json';
import { getEntry } from 'astro:content';

import ExpandDetailsButton from '@components/sidebar/ExpandDetailsButton.svelte';

export function getStaticPaths() {
    let paths: {
        params: { pipeline: string; version: string; md_file: string };
        props: { versions: string[]; md_files: string[]; description: string };
    }[] = [];
    pipelines_json.remote_workflows.forEach((pipeline) => {
        const releases = pipeline.releases;
        const extended_releases = [...releases, { tag_name: 'latest', doc_files: releases[0].doc_files }];
        extended_releases.forEach((release) => {
            const md_files = release.doc_files.map((file) =>
                file.replace('docs/', '').replace('.mdx', '').replace('.md', ''),
            );
            md_files.forEach((md_file) => {
                paths.push({
                    params: {
                        pipeline: pipeline.name,
                        version: release.tag_name,
                        md_file: md_file,
                    },
                    props: {
                        versions: releases.map((release) => release.tag_name),
                        md_files: md_files,
                        description: pipeline.description,
                    },
                });
            });
        });
    });
    return paths;
}
let { pipeline, version, md_file } = Astro.params;
const { versions, md_files, description } = Astro.props;

const section = md_file.split('/')[0];
// check if there are multiple files in the section
let leftSidebar = md_files.filter((file) => file.split('/')[0] === section).length > 1;

let sections = {};

// add trailing slash to url if missing
let url = Astro.url.pathname.endsWith('/') ? Astro.url.pathname : Astro.url.pathname + '/';
url = url.replace(/\.html\/$/, '/');
const baseURL = url.split('/').slice(0, -2).join('/') + '/';

if (leftSidebar) {
    const siblings = md_files
        .filter((file) => file.split('/')[0] === section && section !== file)
        .map((child) => {
            const prefix = md_file !== section ? section + '/' : '';
            const title = child
                .replace(section + '/', '')
                .replace(prefix, '')
                .replace(/-/g, ' ')
                .replace(/\w\S*/g, (w) => w.replace(/^\w/, (c) => c.toUpperCase()));
            const slug = baseURL + child.replace(prefix, '') + '/';
            return { title, slug };
        });

    const sectionName = section.replace(/-/g, ' ').replace(/\w\S*/g, (w) => w.replace(/^\w/, (c) => c.toUpperCase()));

    sections = [
        {
            section_name: sectionName,
            section_slug: `/${pipeline}/${version}/docs/${section}/`,
            children: siblings,
        },
    ];
}
const version_tag_name = version === 'latest' ? versions[0] : version;
const cache_key = `${pipeline}/${version_tag_name?.replaceAll('.', '')}/docs/${md_file?.toLowerCase()}`;

const entry = await getEntry('pipelines', cache_key);
let { Content, headings } = await entry.render();
const max_heading_depth = 2;

// filter out headings that are higher than max_heading_depth
headings = headings.filter((h) => h.depth <= max_heading_depth);
---

<PipelinePageLayout
    pipeline={pipeline}
    meta_title={pipeline +
        ': ' +
        section.replace(/-/g, ' ').replace(/\w\S*/g, (w) => w.replace(/^\w/, (c) => c.toUpperCase()))}
    subtitle={description}
    headings={headings}
    version={version}
    versions={versions}
    tabItems={md_files}
    md_github_url={`https://github.com/nf-core/${pipeline}/blob/${version}/docs/${md_file}.md`}
    sections={sections}
    docSearchTags={[
        { name: 'page_rank', content: '5' },
        { name: 'page_subtype', content: 'docs' },
    ]}
>
    <div class="row">
        {
            leftSidebar && (
                <div class="col-12 col-md-2 sticky-top-under d-none d-md-inline sidebar-left pt-3">
                    <SidebarNav items={sections} />
                </div>
            )
        }
        <div class:list={['col-12 pt-3 markdown-content', { 'col-md-9': !leftSidebar, 'col-md-8': leftSidebar }]}>
            <MarkdownWrapper client:load headings={headings}>
                <Content />
            </MarkdownWrapper>
        </div>
        <div class:list={['col-12 toc', { 'col-md-3': !leftSidebar, 'col-md-2': leftSidebar }]}>
            <SidebarToc headings={headings} client:idle><ExpandDetailsButton client:idle /></SidebarToc>
        </div>
    </div>
</PipelinePageLayout>
