---
import EventIndicator from '@components/event/EventIndicator.svelte';
import NavbarToc from '@components/navbar/NavbarToc.svelte';
import NavbarDocsNav from '@components/navbar/NavbarDocsNav.svelte';
import NavbarDocsNavTitle from '@components/navbar/NavbarDocsNavTitle.astro';
import SidebarNav from '@components/sidebar/SidebarNav.astro';
import NfCoreLogoDarkbg from '/images/logo/nf-core-logo-darkbg.svg?raw';
import NfCoreLogo from '/images/logo/nf-core-logo.svg?raw';
import IconSocial from '@components/IconSocial.astro';
import ThemeSwitch from '@components/ThemeSwitch.svelte';
import { Icon } from 'astro-icon/components';
import Search from '@components/navbar/Search.svelte';
import { getCollection } from 'astro:content';

export interface Props {
    navTocHeadings?: object[];
    title?: string;
    sections?: {
        section_name: string;
        section_slug?: string;
        children: {
            title: string;
            slug: string;
            order?: number;
        }[];
    }[];
    showHiddenBtn?: boolean;
}
const { navTocHeadings = [], title, sections = [], showHiddenBtn = false } = Astro.props;
let navbarTitle = [];
if (sections?.length > 0) {
    // construct the breadcrumb for the navbarNav element
    let url = Astro.url.pathname;
    const maxDepth = Math.max(3, url.split('/').length - 3);

    const currentSection = sections.find((section) => {
        return section.children.find((child) => {
            return child.slug.startsWith(url.split('/').slice(0, maxDepth).join('/'));
        });
    });
    const shortenedURL = url.replace(currentSection?.section_slug, '');
    const currentChild = shortenedURL
        ? currentSection?.children.find((child) => {
              return url.startsWith(child.slug);
          })?.title
        : '';
    if (currentSection) {
        navbarTitle = currentChild ? [currentSection?.section_name, currentChild] : [currentSection?.section_name];
    }
}
let newBlogPost = false;
newBlogPost = await getCollection('blog').then((posts) => {
    return posts.some(
        (post) =>
            new Date(Date.now()) > new Date(post.data.pubDate) &&
            new Date(post.data.pubDate) > new Date(Date.now() - 2 * 24 * 60 * 60 * 1000),
    );
});
---

<nav
    class="navbar fixed-top navbar-expand-xl bg-body-secondary text-body-secondary shadow-sm d-print-none py-0 py-xl-2"
>
    <div class="container-fluid">
        <a class="navbar-brand d-xl-none" href="/">
            <div class="hide-dark">
                <Fragment set:html={NfCoreLogo} />
            </div>
            <div class="hide-light">
                <Fragment set:html={NfCoreLogoDarkbg} />
            </div>
        </a>
        {
            navTocHeadings.length > 0 && (
                <NavbarToc headings={navTocHeadings} showHiddenBtn={showHiddenBtn} client:visible />
            )
        }
        <div class:list={['align-self-center d-xl-none', { 'me-5': navTocHeadings.length === 0 }]}>
            <Search id="docsearch-mobile" client:visible />
        </div>
        <button
            class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-xl-center align-items-xl-stretch" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item p-1 px-3 px-xl-1">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item p-1 px-3 px-xl-1">
                    <a class="nav-link" href="/pipelines/">Pipelines</a>
                </li>
                <li class="nav-item p-1 px-3 px-xl-1 dropdown">
                    <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"> Resources</span>
                    <ul class="dropdown-menu bg-body-secondary text-body-secondary shadow-xl-sm">
                        <li><span class="dropdown-header">Components</span></li>
                        <li><a class="dropdown-item" href="/modules/">Modules</a></li>
                        <li><a class="dropdown-item" href="/subworkflows/">Subworkflows</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><span class="dropdown-header">Configs & tools</span></li>
                        <li><a class="dropdown-item" href="/configs/">Shared configs</a></li>
                        <li><a class="dropdown-item" href="/tools/">Tools</a></li>
                        <li>
                            <a class="dropdown-item" href="/tools/docs/latest/index">Linting Docs</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item p-1 px-3 px-xl-1">
                    <a class="nav-link" href="/docs/">Docs</a>
                </li>
                <li class="nav-item p-1 px-3 px-xl-1 d-flex align-items-center">
                    <EventIndicator client:idle>
                        <Icon name="circle" />
                    </EventIndicator>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="/events/" role="button" data-bs-toggle="dropdown">
                            Events</a
                        >
                        <ul class="dropdown-menu bg-body-secondary text-body-secondary shadow-xl-sm">
                            <li>
                                <a class="dropdown-item" href="/events/bytesize/"
                                    ><i class="fa-solid fa-apple-core me-2"></i>bytesize</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/hackathon/"
                                    ><i class="fa-solid fa-laptop-code me-2"></i>hackathon</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/talk/"
                                    ><i class="fa-solid fa-presentation me-2"></i>talk</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/training/"
                                    ><i class="fa-solid fa-chalkboard-teacher me-2"></i>training</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/">All events</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item p-1 px-3 px-xl-1 dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        >{newBlogPost && <i class="fa-solid fa-circle fa-2xs text-primary" />} About</a
                    >
                    <ul class="dropdown-menu bg-body-secondary text-body-secondary shadow-xl-sm">
                        <li><span class="dropdown-header">Community</span></li>
                        <li><a class="dropdown-item" href="/about/">About nf-core</a></li>
                        <li>
                            <a class="dropdown-item" href="/blog/"
                                >Blog {
                                    newBlogPost && (
                                        <span class="float-end border border-primary text-primary rounded-pill px-2 small">
                                            new post
                                        </span>
                                    )
                                }</a
                            >
                            <li><a class="dropdown-item" href="/governance/">Governance</a></li>
                            <li><a class="dropdown-item" href="/contributors/">Contributors</a></li>
                            <li><a class="dropdown-item" href="/marketing/">Marketing</a></li>
                            <li><a class="dropdown-item" href="/code_of_conduct/">Code of conduct</a></li>
                            <li><a class="dropdown-item" href="/shop/">Shop</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><span class="dropdown-header">Initiatives</span></li>
                            <li><a class="dropdown-item" href="/mentorships/">Mentorships</a></li>
                            <li><a class="dropdown-item" href="/publications/">Publications</a></li>
                            <li><a class="dropdown-item" href="/stats/">Statistics</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/join/">Join nf-core</a></li>
                        </li>
                    </ul>
                </li>
                <div class="align-self-center d-none d-xl-block ms-auto">
                    <Search id="docsearch-desktop" client:only="svelte" />
                </div>
                <div class="d-none d-xl-block align-self-center px-2 py-1">
                    <ThemeSwitch client:load>
                        <i class="icon" slot="light"><Icon name="sun" width={'14pt'} /></i>
                        <i class="icon" slot="dark"><Icon name="moon" width={'14pt'} /></i>
                    </ThemeSwitch>
                </div>
                <div class="vr d-none d-xl-inline mx-1 mx-xxl-2"></div>
                <hr class="d-xl-none" />
                <div
                    class="social-icons d-print-none d-flex align-items-center d-xl-block align-self-center mb-3 mb-xl-0 px-3 px-xl-1"
                >
                    <IconSocial
                        href="https://github.com/nf-core/"
                        title="GitHub"
                        icon="fa-brands:github"
                        icon_dark="fa-brands:github"
                        additionalClass="text-body monochrome me-1"
                    />
                    <IconSocial
                        href="https://twitter.com/nf_core"
                        icon="logos:twitter"
                        title="Twitter"
                        additionalClass="monochrome me-1"
                    />
                    <!-- <IconSocial
                    marginLeft="0"
                    marginRight="1rem"
                    href="https://mstdn.science/@nf_core"
                    title="Mastodon"
                    icon="logos:mastodon-icon"
                    additionalClass="monochrome me-1"
                /> -->
                    <IconSocial
                        href="https://www.youtube.com/@nf-core"
                        icon="mdi:youtube"
                        title="YouTube"
                        additionalClass="monochrome me-1"
                        color="red"
                    />
                    <IconSocial
                        href="/join/slack/"
                        title="Slack"
                        icon="logos:slack-icon"
                        additionalClass="monochrome me-1"
                    />
                    <div class="vr ms-2 me-1 d-xl-none"></div>
                    <div class="d-xl-none ms-auto px-2 py-1">
                        <ThemeSwitch client:load>
                            <i class="icon" slot="light"><Icon name="sun" width={'14pt'} /></i>
                            <i class="icon" slot="dark"><Icon name="moon" width={'14pt'} /></i>
                        </ThemeSwitch>
                    </div>
                </div>
                <div class="d-none d-xl-block vr mx-1 mx-xxl-3"></div>
                <!-- Mobile nav -->
                <a class="d-xl-none btn d-block btn-success mb-3 mx-3 mx-xl-1" href="/join/">Join nf-core</a>
                <!-- Desktop nav -->
                <a class="d-none d-xl-block btn btn-success mx-2 align-self-center" href="/join/">
                    Join
                    <span class="d-none d-xxl-inline">nf-core</span>
                </a>
            </ul>
        </div>
    </div>
    {
        sections && sections.length > 0 && navbarTitle[0] !== undefined && (
            <NavbarDocsNav client:visible>
                <NavbarDocsNavTitle slot="title" title={navbarTitle.flat()} />
                <SidebarNav slot="menu" items={sections} />
            </NavbarDocsNav>
        )
    }

    <style lang="scss">
        @import '@styles/_variables.scss';

        .navbar.fixed-top {
            .navbar-brand {
                margin-top: 0.25rem;
                margin-bottom: 0.25rem;

                :global(svg) {
                    height: 25px;
                }
            }
            // add wider margins on larger screens
            @include media-breakpoint-up(xl) {
                padding: 0.2rem 1rem;
                .navbar-nav > li > a {
                    margin-left: 0.6rem;
                    margin-right: 0.6rem;
                    transition: ease-in-out color 0.1s;
                }
            }
            @include media-breakpoint-down(xl) {
                .container {
                    padding-left: 0;
                    padding-right: 0;
                }
                .navbar-brand {
                    left: 0;
                    margin-left: 0;
                    margin-right: 0;
                    max-width: 5rem;
                }
            }
            li .dropdown-menu {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top: 0;
                margin-top: calc($navbar-padding-y);
            }

            .collapse.show {
                max-height: 80dvh;
                overflow-y: auto;
                li .dropdown-menu {
                    border: none;
                }
            }
            .navbar-toggler:focus-within {
                box-shadow: none;
            }
        }
        .icon :global(svg) {
            fill: $navbar-light-color;
            :global(.active) & {
                fill: $white;
            }
        }
    </style>
</nav>
