---
export interface Props {
	name: string;
	body: string;
	href: string;
    stars: number;
    topics: string[];
    releases: object[];
}

const { href, name, body, stars, topics, releases } = Astro.props;
---
<!-- TODO remove the following line when #1487 is merged -->
<script src="https://kit.fontawesome.com/38356a05cc.js" crossorigin="anonymous"></script>

<div class="card col p-2 m-2">
	<a href={href} class="card-name m-2 mb-0">
		<h2 class="mb-0">
			{name} {releases.length > 0 ? <i class="fa-solid fa-check text-success"></i> : <i class="fa-solid fa-wrench text-warning"></i>}

            <small class="star-count text-small">
                <a href={"https://github.com/nf-core/"+name+"/stargazers"} target="_blank" class="stargazers text-decoration-none mt-2 text-warning" title="" data-bs-toggle="tooltip" data-html="true" data-bs-original-title={stars +" stargazers on GitHub <small class='fa fa-solid fa-external-link-alt ms-2'></small>"}>
                    <i class="fa fa-regular fa-star" aria-hidden="true"></i>
                </a>
                {stars}
            </small>
            </h2>

    </a>
		<div class="card-body pt-0">
        <p class="topics mt-0">
            {topics.map((topic) => (
                <span class="badge bg-light text-success mx-1">{topic}</span>
            ))}
        </p>
        <p class="description">
            {body}
        </p>

        </div>

</div>
<style>
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
    .card.col {
        min-width: 40vw;
        max-width: 45vw;
    }
    .badge.text-success{
        font-weight: 400;
    }
    .star-count{
        float: right;
    }
    .stargazers .fa:hover{
            font-weight: 900;
        }
</style>
