---
import SidebarStatsRow from '@components/SidebarStatsRow.astro';

const { component_type, contributors, included_pipelines, included_modules, included_subworkflows } = Astro.props;

export interface Props {
    component_type: string;
    contributors: string[];
    included_pipelines?: {
        name: string;
        version: string;
    }[];
    included_modules?: string[];
    included_subworkflows?: string[];
}
---

<div class="sidebar">
    {
        included_pipelines && (
            <SidebarStatsRow
                content={[
                    {
                        title: 'included in',
                    },
                ]}
            >
                <div class="mb-2">
                    {included_pipelines.map((pipeline) => (
                        <a
                            href={'/' + pipeline.name + '/' + pipeline.version}
                            class="badge text-bg-warning me-2 text-decoration-none"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title={'most recent pipeline version with it:\n' + pipeline.version}
                        >
                            {pipeline.name}
                        </a>
                    ))}
                </div>
            </SidebarStatsRow>
        )
    }
    {
        included_subworkflows && (
            <SidebarStatsRow
                content={[
                    {
                        title: 'part of',
                    },
                ]}
            >
                <div class="mb-2">
                    {included_subworkflows.map((module) => (
                        <a
                            href={'/subworkflows/' + module.replace('/', '_')}
                            class="badge text-bg-info me-2 text-decoration-none"
                        >
                            {module}
                        </a>
                    ))}
                </div>
            </SidebarStatsRow>
        )
    }
    {
        included_modules && (
            <SidebarStatsRow
                content={[
                    {
                        title: 'included modules',
                    },
                ]}
            >
                <div class="mb-2">
                    {included_modules.map((module) => (
                        <a
                            href={'/modules/' + module.replace('/', '_')}
                            class="badge text-bg-info me-2 text-decoration-none"
                        >
                            {module}
                        </a>
                    ))}
                </div>
            </SidebarStatsRow>
        )
    }
    <SidebarStatsRow content={[{ title: 'author' + (contributors.length > 1 ? 's' : '') }]}>
        <div class="contrib-avatars d-flex flex-wrap">
            {
                contributors &&
                    contributors.map(
                        (contributor) => (
                            (contributor = contributor.replace('@', '')),
                            (
                                <a
                                    href={'https://github.com/' + contributor}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="me-2 mb-2"
                                >
                                    <img src={'https://github.com/' + contributor + '.png?size=50'} alt={contributor} />
                                </a>
                            )
                        )
                    )
            }
        </div>
    </SidebarStatsRow>
    <SidebarStatsRow content={[{ title: 'get in touch' }]} lastChild={true}>
        <div class="d-flex flex-column">
            <a class="btn btn-sm btn-outline-info mb-2" href="https://nfcore.slack.com/channels/modules"
                ><i class="fab fa-slack me-1"></i> Ask a question on Slack</a
            >
            <a class="btn btn-sm btn-outline-secondary" href="https://github.com/nf-core/modules/issues"
                ><i class="fab fa-github me-1"></i> Open an issue on GitHub</a
            >
        </div>
    </SidebarStatsRow>
</div>
<style lang="scss">
    a.badge:hover {
        text-decoration: underline !important;
    }
    img {
        width: 50px;
        height: 50px;
    }
</style>
