---
// Heavily inspired by Astro Starlight

import { type SidebarEntry } from '@utils/types';

export interface Props {
    items: SidebarEntry[];
    nested?: boolean;
}

let { items, nested } = Astro.props;
if (!items) {
    items = [];
}

const flattenSidebar = (sidebar: SidebarEntry[]): SidebarEntry[] => {
    if (!sidebar) {
        return [];
    }
    return sidebar.flatMap((entry) =>
        entry.type === 'group' && entry.entries ? flattenSidebar(entry.entries) : entry,
    );
};
const sanitizeNfCoreLabels = (label: string) =>
    (label.startsWith('Nf-') ? 'nf-' : '') +
    label
        .substring(label.startsWith('Nf-') ? 3 : 0)
        .split('-nf-')
        .map((part) => part.replace(/-/g, ' '))
        .join(' nf-');
---

<script is:inline>
    // scroll to the active item
    if (typeof window !== 'undefined') {
        const activeItem = document.querySelector('a[aria-current="page"]');
        if (activeItem) {
            activeItem.scrollIntoView({ block: 'center' });
        }
    }
</script>
<ul class:list={[{ 'top-level': !nested }]}>
    {
        items.map((item) => {
            const containsCurrent =
                item.type === 'group' &&
                (flattenSidebar(item.entries).some((i) => i.isCurrent) || item.entries.some((i) => i.isCurrent));
            return (
                <li>
                    {item.type === 'link' ? (
                        <a
                            href={item.href}
                            aria-current={item.isCurrent && 'page'}
                            class:list={[{ h6: !nested }, 'px-2']}
                        >
                            <span>{sanitizeNfCoreLabels(item.label)}</span>
                        </a>
                    ) : (
                        <details open={containsCurrent || item.isCurrent || !item.collapsed}>
                            <summary
                                aria-current={item.isCurrent && 'page'}
                                class:list={{ 'border-success': containsCurrent }}
                            >
                                <div class="group-label flex-grow-1">
                                    {item.href && (
                                        <a href={item.href} class="h5 text-reset d-block">
                                            {sanitizeNfCoreLabels(item.label)}
                                        </a>
                                    )}
                                    {!item.href && (
                                        <span class="h5 text-reset">{sanitizeNfCoreLabels(item.label)}</span>
                                    )}
                                </div>
                                <i
                                    class:list={[
                                        'fa-solid fa-chevron-right fa-xs mx-2 caret',
                                        { 'text-success': containsCurrent },
                                    ]}
                                />
                            </summary>
                            <Astro.self items={item.entries} nested />
                        </details>
                    )}
                </li>
            );
        })
    }
</ul>
<style lang="scss">
    @import '@styles/_variables.scss';

    ul {
        --sl-sidebar-item-padding-inline: 0.5rem;
        list-style: none;
        padding: 0;
    }

    li {
        overflow-wrap: anywhere;

        a:not(.h5) {
            display: block;
            text-decoration: none;
            color: var(--bs-secondary-color);
            padding: 0.3em var(--sl-sidebar-item-padding-inline);
            border-inline-end: 2pt solid var(--bs-border-color);
            line-height: 1.4;
        }
        a {
            &:hover {
                background-color: transparentize($success, 0.85);
            }
        }
        .group-label a:hover {
            background-color: transparentize($success, 1);
        }
        a,
        summary {
            &[aria-current='page'],
            &[aria-current='page']:hover,
            &[aria-current='page']:focus {
                color: var(--bs-body-color);
                background-color: transparentize($success, 0.75);
                border-inline-end: 2pt solid var(--bs-success);
            }
        }
    }

    ul ul li {
        margin-inline-start: calc(var(--sl-sidebar-item-padding-inline));
        border-inline-start: 1pt solid var(--bs-border-color);
        padding-inline-start: var(--sl-sidebar-item-padding-inline);
    }

    .top-level > li + li {
        summary {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }

    summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;
        border-inline-end: 2pt solid var(--bs-border-color);
        a,
        span {
            text-decoration: none;
            padding: 0.3em var(--sl-sidebar-item-padding-inline);
            margin-bottom: 0;
        }
    }
    summary::marker,
    summary::-webkit-details-marker {
        display: none;
    }

    .caret {
        transition: transform 0.1s ease-in-out;
        flex-shrink: 0;
    }
    [open] > summary .caret {
        transform: rotateZ(90deg);
    }

    a > *:not(:last-child),
    .group-label > *:not(:last-child) {
        margin-inline-end: 0.25em;
    }
</style>
