---
const { items, minimal } = Astro.props;

export interface Props {
    items: {
        section_name: string;
        section_slug?: string;
        children: {
            title: string;
            slug: string;
            order?: number;
        }[];
    };
    minimal?: boolean;
}

const url = Astro.url.pathname;
---

<div class="nav">
    <div class="w-100 sticky-top-under">
        {
            items &&
                items.map((item) => {
                    return (
                        <div class="mb-3">
                            <h6 class="my-2 text-body">
                                {item.section_slug && (
                                    <a
                                        class:list={[
                                            'text-decoration-none',
                                            { active: item.section_slug && url.endsWith(item.section_slug) },
                                        ]}
                                        href={item.section_slug}
                                    >
                                        {item.section_name}
                                    </a>
                                )}
                                {!item.section_slug && item.section_name}
                            </h6>
                            {minimal && (
                                <ul class="minimal-list">
                                    {item.children
                                        .sort((child) => child.order || 0)
                                        .map((child) => {
                                            return (
                                                <li
                                                    class:list={[
                                                        'mt-2 w-100',
                                                        {
                                                            active:
                                                                url.endsWith(child.slug) ||
                                                                (url.split('/').length >= 6 &&
                                                                    url
                                                                        .split('/')
                                                                        .slice(0, 4)
                                                                        .join('/')
                                                                        .endsWith(child.slug.replace(/\/$/, ''))),
                                                        },
                                                    ]}
                                                >
                                                    <a
                                                        class:list={[
                                                            'text-decoration-none p-1',
                                                            'text-center',
                                                            'd-none',
                                                        ]}
                                                        href={child.slug}
                                                    >
                                                        {child.title}
                                                    </a>
                                                </li>
                                            );
                                        })}
                                </ul>
                            )}
                            {!minimal && (
                                <ul class="list-unstyled">
                                    {item.children
                                        .sort((child) => child.order || 0)
                                        .map((child) => {
                                            return (
                                                <li
                                                    class:list={[
                                                        'mt-2 w-100',
                                                        {
                                                            active:
                                                                url.endsWith(child.slug) ||
                                                                (url.split('/').length >= 6 &&
                                                                    url
                                                                        .split('/')
                                                                        .slice(0, 4)
                                                                        .join('/')
                                                                        .endsWith(child.slug.replace(/\/$/, ''))),
                                                        },
                                                    ]}
                                                >
                                                    <a
                                                        class:list={[
                                                            'text-decoration-none p-1',
                                                            {
                                                                'text-body-secondary': !url.endsWith(child.slug),
                                                            },
                                                        ]}
                                                        href={child.slug}
                                                    >
                                                        {child.title}
                                                    </a>
                                                </li>
                                            );
                                        })}
                                </ul>
                            )}
                        </div>
                    );
                })
        }
    </div>
</div>

<style lang="scss">
    @import 'src/styles/_variables.scss';

    li {
        font-size: 0.9rem;
    }

    li.active {
        background-color: transparentize($success, 0.75);
        a {
            color: $green-800 !important;
        }
    }
    .minimal-list li {
        transition: transform 0.3s ease;
        &:hover {
            color: $success;
            list-style: none;
            transform: translateX(-5rem);

            a {
                display: block !important;
                color: $success;
                margin-left: -5rem;
                transition: all 3s ease-in;
            }
        }
    }

    :global([data-bs-theme='dark']) {
        li.active {
            background-color: transparentize($success-dark, 0.35);
            & a {
                color: $gray-200 !important;
            }
        }
    }
</style>
