---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/footer/Footer.astro';
import Navbar from '@components/navbar/Navbar.astro';
import SubFooter from '@components/footer/SubFooter.astro';
import '@fontsource-variable/inter';
import '@fontsource-variable/maven-pro';

export interface Props {
    title?: string;
    subtitle?: string;
    image?: string;
    md_github_url?: string;
    subfooter?: boolean;
    navTocHeadings?: object[];
    sections?: { section_name: string; children: {}[] }[] | never[];
    viewTransitions?: boolean;
    docSearchTags?: {
        name: string;
        content: string;
    }[];
}

const {
    title = SITE_TITLE,
    subtitle = SITE_DESCRIPTION,
    image = `/og.png?title=${encodeURIComponent(title ? title : SITE_TITLE)}`,
    md_github_url,
    subfooter = false,
    navTocHeadings = [],
    sections = [],
    viewTransitions = false,
    docSearchTags = [],
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={title}
            description={subtitle}
            image={image}
            viewTransitions={viewTransitions}
            docSearchTags={docSearchTags}
        />
    </head>

    <body tabindex="0">
        <Navbar navTocHeadings={navTocHeadings} title={title} sections={sections} />
        <div class:list={['content', { 'double-navbar': sections.length > 0 }]}>
            <slot />
        </div>
        {subfooter && <SubFooter md_github_url={md_github_url} />}
        <Footer />
        <style lang="scss" is:global>
            @import '@styles/main.scss';
        </style>
        <style lang="scss">
            @import '@styles/_variables.scss';
            body {
                position: relative;
            }
            .content {
                padding-top: 4rem; //offset for navbar
            }
            @include media-breakpoint-down(md) {
                .content {
                    padding-top: 3rem; //offset for navbar
                    &.double-navbar {
                        padding-top: 5.5rem; //offset for navbar + sectionNavbar from sidebarNav
                    }
                }
            }
        </style>
    </body>
</html>
