---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/footer/Footer.astro';
import Navbar from '@components/navbar/Navbar.astro';
import SubFooter from '@components/footer/SubFooter.astro';
import '@fontsource-variable/inter';
import '@fontsource-variable/maven-pro';
import '@fontsource-variable/open-sans';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle.min.js?url';

export const prerender = true; // use static suites by default
export interface Props {
    title?: string;
    subtitle?: string;
    image?: string;
    md_github_url?: string;
    subfooter?: boolean;
    navTocHeadings?: object[];
}

const {
    title = SITE_TITLE,
    subtitle = SITE_DESCRIPTION,
    image = `/og.png?title=${encodeURIComponent(title ? title : SITE_TITLE)}`,
    md_github_url,
    subfooter = false,
    navTocHeadings = [],
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={subtitle} image={image} />
    </head>

    <body tabindex="0" data-bs-theme="dark">
        <Navbar navTocHeadings={navTocHeadings} title={title} />
        <div class="content">
            <slot />
        </div>
        {subfooter && <SubFooter md_github_url={md_github_url} />}
        <Footer />

        <script src={bootstrap}></script>
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            [...tooltipTriggerList].map((tooltipTriggerEl) => {
                const tooltip = bootstrap.Tooltip.getInstance(tooltipTriggerEl);
                if (!tooltip) {
                    new bootstrap.Tooltip(tooltipTriggerEl);
                }
            });
        </script>
        <style lang="scss" is:global>
            @import '@styles/main.scss';
        </style>
        <style lang="scss">
            @import '@styles/_variables.scss';
            body {
                position: relative;
            }
            .content {
                padding-top: 4rem; //offset for navbar
            }
            @include media-breakpoint-down(md) {
                .content {
                    padding-top: 3rem; //offset for navbar
                }
            }
        </style>
    </body>
</html>
