---
import '@fontsource/maven-pro/600.css';
import '@fontsource/inter';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle.min.js?url';

import BaseHead from '@components/BaseHead.astro';
import Navbar from '@components/Navbar.svelte';
import SubFooter from '@components/SubFooter.astro';
import Footer from '@components/Footer.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const { image, title = SITE_TITLE, subtitle = SITE_DESCRIPTION, md_github_url, subfooter = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={subtitle} image={image} />
    </head>

    <body tabindex="0" data-bs-theme="dark">
        <Navbar client:idle />
        <div class="content">
            <slot />
        </div>
        {subfooter && <SubFooter md_github_url={md_github_url} />}
        <Footer />

        <script src={bootstrap}></script>
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(
                (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
            );
        </script>
        <style lang="scss" is:global>
            @import '../styles/main.scss';
        </style>
        <style lang="scss">
            @import '../styles/_variables.scss';
            body {
                position: relative;
            }
            .content {
                padding-top: 3.45rem; //offset for navbar
            }
            @include media-breakpoint-down(md) {
                .content {
                    padding-top: 3.5rem; //offset for navbar
                }
            }
        </style>
    </body>
</html>
