---
import PageLayout from '@layouts/PageLayout.astro';
import SubHeader from '@components/header/SubHeader.astro';

export interface Props {
    name: string;
    description: string;
    type: string;
    topics: string[];
}

const { name, description, type, topics } = Astro.props;
const gh_url = 'https://github.com/nf-core/modules/tree/master/modules/nf-core/' + name.replace('_', '/');
---

<PageLayout
    title={type + '/' + name}
    subtitle={description}
    mainpage_container={true}
    topics={topics}
    docSearchTags={[{ name: 'type', content: type }]}
>
    <SubHeader gh_url={gh_url} component_type={type} slot="sub-header" component={name} />
    <div>
        <slot />
    </div>
</PageLayout>
<style lang="scss"></style>
