---
import PageLayout from '@layouts/PageLayout.astro';
import SubHeader from '@components/header/SubHeader.astro';

export interface Props {
    name: string;
    description: string;
    type: string;
    topics: string[];
}

const { name, description, type, topics } = Astro.props;
const suffix = type === 'modules' ? name.replace('_', '/') : name;
const gh_url = 'https://github.com/nf-core/modules/tree/master/' + type + '/nf-core/' + suffix;
---

<PageLayout
    title={type + '/' + name}
    subtitle={description}
    mainpage_container={true}
    topics={topics}
    docSearchTags={[
        { name: 'page_type', content: type },
        { name: 'page_rank', content: type === 'modules' ? 7 : 6 },
    ]}
>
    <SubHeader gh_url={gh_url} component_type={type} slot="sub-header" component={name} />
    <div>
        <slot />
    </div>
</PageLayout>
<style lang="scss"></style>
