---
import PageLayout from '@layouts/PageLayout.astro';
import SubHeader from '@components/header/SubHeader.astro';

export interface Props {
    name: string;
    description: string;
    type: string;
}

const { name, description, type } = Astro.props;
const gh_url = 'https://github.com/nf-core/modules/tree/master/modules/nf-core/' + name.replace('_', '/');
---

<PageLayout title={'modules/' + name} subtitle={description} mainpage_container={true}>
    <SubHeader gh_url={gh_url} component_type={type} slot="sub-header" component={name} />
    <div>
        <slot />
    </div>
</PageLayout>
<style lang="scss"></style>
