---
import PageLayout from './PageLayout.astro';
import MarkdownWrapper from '@components/MarkdownWrapper.svelte';
import SidebarLeft from '@components/SidebarLeft.astro';
import SidebarToc from '@components/SidebarToc.svelte';

export interface Props {
    title: string;
    subtitle: string;
    md_github_url: string;
    headings: { text: string; slug: string; depth: number; fa_icon?: string }[];
    event_header?: object[];
    left_sidebar?: boolean;
}

const { title, subtitle, md_github_url, event_header, headings, left_sidebar } = Astro.props;
---

<PageLayout
    title={title}
    subtitle={subtitle}
    md_github_url={md_github_url}
    event_header={event_header}
    subfooter={true}
    mainpage_container={true}
    navTocHeadings={headings}
>
    <div class="row">
        {
            left_sidebar && (
                <div class="col-12 col-md-2 sticky-top">
                    <SidebarLeft />
                </div>
            )
        }
        <div class:list={['col-12', { 'col-md-10': !left_sidebar, 'col-md-8': left_sidebar }]}>
            <div class="markdown-content">
                <MarkdownWrapper headings={headings} client:idle>
                    <slot />
                </MarkdownWrapper>
            </div>
        </div>
        <div class="col-12 col-md-2 toc">
            <SidebarToc headings={headings} client:idle />
        </div>
    </div>
</PageLayout>
<style lang="scss">
    .toc {
        padding-top: 3.5rem;
        margin-top: -4rem; // compensate for the navbar-offset of the underlying .nav element
    }
</style>
