---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/header/Header.astro';

let {
    title = SITE_TITLE,
    meta_title = title,
    subtitle = SITE_DESCRIPTION,
    image,
    header_html,
    event_header,
    md_github_url,
    header_btn_url,
    header_btn_text,
    mainpage_container,
    subfooter = false,
    showHiddenBtn = false,
    frontmatter,
    navTocHeadings = [],
    topics = [],
    sections = [],
    viewTransitions = false,
    docSearchTags = [],
    doubleNavbar = true,
} = Astro.props;

export interface Props {
    title?: string;
    meta_title?: string;
    subtitle?: string;
    image?: string;
    header_html?: string;
    event_header?: {
        title: string;
        subtitle: string;
        type: string;
        startDate: string;
        endDate: string;
        startTime: string;
        endTime: string;
    };
    md_github_url?: string;
    header_btn_url?: string;
    header_btn_text?: string;
    mainpage_container?: boolean;
    navTocHeadings?: ({ text: string; slug: string; depth: number; fa_icon?: string } | undefined)[];
    subfooter?: boolean;
    showHiddenBtn?: boolean;
    frontmatter?: any;
    topics?: string[];
    sections?: { section_name: string; children: {}[] }[] | never[];
    viewTransitions?: boolean;
    docSearchTags?: {
        name: string;
        content: string | string[];
    }[];
    doubleNavbar?: boolean;
}
if (frontmatter) {
    title = frontmatter.title || title;
    subtitle = frontmatter.subtitle || subtitle;
    image = frontmatter.image || image;
    header_html = frontmatter.header_html || header_html;
    md_github_url = frontmatter.md_github_url || md_github_url;
    header_btn_url = frontmatter.header_btn_url || header_btn_url;
    header_btn_text = frontmatter.header_btn_text || header_btn_text;
    mainpage_container = frontmatter.mainpage_container || mainpage_container;
    subfooter = frontmatter.subfooter || subfooter;
}
---

<BaseLayout
    title={meta_title}
    subtitle={subtitle}
    image={image}
    md_github_url={md_github_url}
    subfooter={subfooter}
    {showHiddenBtn}
    navTocHeadings={navTocHeadings}
    sections={sections}
    viewTransitions={viewTransitions}
    docSearchTags={docSearchTags}
    doubleNavbar={doubleNavbar}
>
    <div class="mainpage">
        <Header
            title={title}
            subtitle={subtitle}
            header_html={header_html}
            event_header={event_header}
            md_github_url={md_github_url}
            header_btn_url={header_btn_url}
            header_btn_text={header_btn_text}
            topics={topics}
        >
            <slot name="sub-header" />
        </Header>
        {
            mainpage_container || mainpage_container == null ? (
                <div class="container-xl main-content pt-md-4 DocSearch-content">
                    <slot />
                </div>
            ) : (
                <div class="DocSearch-content">
                    <slot />
                </div>
            )
        }
    </div>
    <slot name="pre-footer" />
</BaseLayout>

<style lang="scss">
    @import '@styles/_variables.scss';
    .mainpage {
        min-height: calc(100vh - 14.5rem); // offset for header and footer
        @include media-breakpoint-down(lg) {
            min-height: calc(100vh - 16rem); // offset for header and footer
        }
    }
</style>
