---
import MarkdownTocLayout from '@layouts/MarkdownTocLayout.astro';
import { getCollection } from 'astro:content';
import { YouTube } from '@astro-community/astro-embed-youtube';
import VideoTranscript from '@components/VideoTranscript.svelte';
import Admonition from '@components/Admonition.astro';
import type { CollectionEntry } from 'astro:content';
import type { SidebarEntry } from '@utils/types';
import { createLinkOrGroup } from '@utils/functions';

export async function getStaticPaths() {
    const events = await getCollection('events');
    return events.map((event) => ({
        params: {
            event: event.slug,
        },
        props: {
            event: event,
            events: events,
        },
    }));
}
const { event, events } = Astro.props;
const title = event.data.title;
const subtitle = event.data.subtitle;
let frontmatter = event.data;
if (typeof frontmatter.locationURL == 'string') {
    frontmatter.locationURL = [frontmatter.locationURL];
}
const { headings, Content } = await event.render();

const md_github_url = 'https://github.com/nf-core/website/blob/main/src/content/events/' + event.id;

let video = event.data.locationURL;
if (typeof video === 'string') {
    video = [video];
}
video = video?.filter((v) => v.includes('youtube.com') || v.includes('youtu.be'))[0];
const id = video?.replace('https://www.youtube.com/watch?v=', '').replace('https://youtu.be/', '');

events
    .map((event) => {
        if (event.data.title.toLowerCase().match('bytesize')) {
            event.data.type = 'bytesize';
        }
        event.data.start = new Date(event.data.startDate + 'T' + event.data.startTime);
        event.data.end = new Date(event.data.endDate + 'T' + event.data.endTime);
        return event;
    })
    .filter((event) => event.data.type === frontmatter.type)
    .sort((a, b) => {
        return new Date(b.data.startDate) - new Date(a.data.startDate);
    });

const addEntriesToSection = (sections, events: CollectionEntry<'events'>[]) => {
    events.forEach((event) => {
        const parts = event.slug.split('/');
        let currentLevel = sections;

        parts.forEach((part, i) => {
            part = part.replaceAll('_', ' ').replace(/(^)\S/g, (match) => match.toUpperCase());
            const existingEntry = currentLevel.find(
                (entry) => entry.label === part || entry.label === event.data.title,
            );

            if (existingEntry) {
                if (existingEntry.type === 'group') {
                    // workaround for index files in nested events, where another element could already have created the group
                    if (/index\.(md|mdx)$/.test(event.id) && i === parts.length - 1) {
                        existingEntry.href = '/events/' + event.slug;
                        existingEntry.isCurrent = Astro.url.pathname === '/events/' + event.slug;
                        existingEntry.collapsed = Astro.url.pathname === '/events/' + event.slug;
                    }
                    currentLevel = existingEntry.entries;
                }
            } else {
                const lastPart = i === parts.length - 1;
                let title = lastPart ? event.data.title : part;
                const newEntry = createLinkOrGroup(title, '/events/' + event.slug, lastPart, Astro.url.pathname);
                currentLevel.push(newEntry);

                if (newEntry.type === 'group' && newEntry.entries) {
                    currentLevel = newEntry.entries;
                }
            }
        });
    });
};
const years = [...new Set(events.map((event) => event.data.start.getFullYear()))].sort((a, b) => b - a);
let sections: SidebarEntry[] = years.map((year) => {
    return {
        label: year.toString(),
        entries: [],
        type: 'group',
        collapsed: true,
    };
});
addEntriesToSection(sections, events);
// sort .entries by date
sections.forEach((year) => {
    year.entries.sort((a, b) => {
        const eventA = events.find((event) => '/events/' + event.slug === a.href);
        const eventB = events.find((event) => '/events/' + event.slug === b.href);
        return eventB.data.startDate - eventA.data.startDate;
    });
});
---

{frontmatter.importTypeform && <script async src="https://embed.typeform.com/next/embed.js" />}
<MarkdownTocLayout
    title={title}
    subtitle={subtitle}
    md_github_url={md_github_url}
    event_header={frontmatter}
    headings={headings}
    sections={sections}
    leftSidebar={true}
    docSearchTags={[
        { name: 'page_type', content: 'Event' },
        { name: 'page_subtype', content: frontmatter.type },
    ]}
    viewTransitions={true}
>
    {
        title.trim().toLowerCase().startsWith('bytesize') && (
            <Admonition
                title="tip"
                titleText="Join us for our <strong>weekly series</strong> of short talks: <strong>nf-core/bytesize</strong>."
            >
                <p class="small text-body-secondary">
                    Just <strong>15 minutes</strong> + questions, we focus on topics about using and developing nf-core
                    pipelines. These are recorded and made available at <a href="https://nf-co.re/">https://nf-co.re</a>
                    , helping to build an archive of training material. Got an idea for a talk? Let us know on the{' '}
                    <a href="https://nfcore.slack.com/channels/bytesize">
                        <code>#bytesize</code>
                    </a>{' '}
                    Slack channel!
                </p>
            </Admonition>
        )
    }
    <Content />
    {
        id && (
            <VideoTranscript id={id} client:idle>
                <YouTube id={id} poster={`https://img.youtube.com/vi/${id}/hqdefault.jpg`} />
            </VideoTranscript>
        )
    }
</MarkdownTocLayout>
