---
import Toc from '@components/Toc.svelte';
import PageLayout from '@layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import { marked } from 'marked';

export async function getStaticPaths() {
    const events = await getCollection('events');
    return events.map((event) => ({
        params: {
            event: event.slug,
        },
        props: {
            event: event,
        },
    }));
}
marked.setOptions({
    baseUrl: Astro.params.slug, // add the slug to the base url of relative links
});
const title = Astro.props.event.data.title;
const subtitle = Astro.props.event.data.subtitle;
let frontmatter = Astro.props.event.data;
if (typeof frontmatter.location_url == 'string') {
    frontmatter.location_url = [frontmatter.location_url];
}

const { headings, Content, remarkPluginFrontmatter } = await Astro.props.event.render();

// TODO: update github url
const md_github_url = 'https://github.com/nf-core/nf-co.re/blob/master/markdown/events/' + Astro.props.event.id;
---

<PageLayout title={title} subtitle={subtitle} subfooter={true} md_github_url={md_github_url} event_header={frontmatter}>
    <Toc {headings} />
    <div class="container">
        <Content />
    </div>
</PageLayout>
